<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#121212">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="TextFromImage">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="apple-touch-icon" href="static/icon.png">
    <title>TextFromImage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1>TextFromImage</h1>
        </header>
        <main>
            <canvas id="drawingCanvas" width="480" height="480"></canvas>
            <div class="controls">
                <div class="image-count">
                    Изображений в текущей папке: <span id="imageCount">0</span>
                </div>
                <label for="folderSelect">Папка:</label>
                <select id="folderSelect">
                    <option value="tests">tests</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
                <label for="brushThickness">Толщина:</label>
                <select id="brushThickness">
                    <option value="35">35</option>
                    <option value="30">30</option>
                    <option value="25">25</option>
                    <option value="20">20</option>
                    <option value="15">15</option>
                </select>
                <button id="clearButton">Очистить</button>
                <button id="saveButton">Сохранить</button>
            </div>
        </main>
        <footer>
            <p>&copy; 2025 Владимир Бубнов. Все права защищены.</p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>