/* Устанавливаем стили для html и body */
html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

/* Контейнер для содержимого приложения */
.container {
    background: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 30px;
    text-align: center;
    width: 100hv;
    max-width: 600px;
    margin: auto;
}


header {
    margin-bottom: 30px;
}

/* Стили для заголовка h1 */
h1 {
    color: #ffffff;
    font-size: 2.5em;
}

/* Стили для холста (canvas) */
canvas {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #1e1e1e;
    touch-action: none;
    width: 100%;
    height: auto;
}

/* Стили для выпадающего списка (select) */
select {
    background-color: #2a2a2a;
    color: #ffffff;
    border: 1px solid #007bff;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    appearance: none;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}


select:hover {
    background-color: #1e1e1e;
    border-color: #0056b3;
}

/* Стили для меток (label) */
label {
    margin-right: 10px;
}

/* Стили для кнопок */
button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

/* Эффект при наведении на кнопки */
button:hover {
    background-color: #0056b3;
}